body {
    text-align: center;
}

.body {
    display: inline-block;
    text-align: left;
}

#eventholder {
    padding: 1em;
    min-width: 1000px;
    display: inline-block;
    text-align: left;
}

#events {
    -moz-column-count: 4; /* Firefox */
    -webkit-column-count: 4; /* Safari and Chrome */
    column-count: 4;
    height: 30em;
}

.ev {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    overflow: hidden;
    display: block;
    width: 300px;
}

.ev-progress {
    font-size: 1.5em;
}

.ev-error, .ev-msg {
    padding: 0.1em;
}

.ev-error {
    color: red;
}

.ev-msg {
    color: green;
}

.ev-end {
    color: blue;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.ev-end:before {
    content: "Finished.";
}
