body {
    text-align: center;
    font-family: 'Quattrocento', serif;
}

h1 {
    font-family: 'Eagle Lake', cursive;
    text-align: center;
}

a {
    color: #333;
}

.body {
    display: inline-block;
    text-align: left;
}

#eventholder {
    padding: 1em;
    min-width: 1000px;
    display: inline-block;
    text-align: left;
}

#events {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    height: 30em;
}

.ev {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    overflow: hidden;
    display: block;
    width: 300px;
}

.ev-progress {
    font-size: 1.5em;
}

.ev-error, .ev-msg {
    padding: 0.1em;
}

.ev-error {
    color: red;
}

.ev-msg {
    color: green;
}

.ev-end {
    color: blue;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.ev-end:before {
    content: "Finished.";
}

select {
    border: none;
    background: none;
}

select, input[type=file] {
    width: 15em;
}

form {
    border: 1px solid #d4d4d4;
    background: #f8f8f8;
    display: block;
    border-radius: 0.2em;
    padding: 0.3em;
    margin: 0.3em;
    text-align: left;
}

.form-wrapper {
    display: inline-block;
    float: left;
    text-align: center;
}

.info {
    width: 20em;
    text-align: justify;
    display: inline-block;
    float: right;
    margin-left: 1em;
}

table.form td.l {
    text-align: right;
}

table.form td {
    padding: 0.3em;
}

.ok {
    width: 10em;
}

button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}
